:root {
  --app-background-color-light: #fff1dc;
}
html {
  height: 100%;
}

body {
  background: var(--app-background-color-light);
  /* height: 100%; */
}
* {
  box-sizing: border-box;

  font-family: 'inter';
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.app-container {
  max-width: 95%;
  margin: 0 auto;
}
.noItems {
  color: #c3c3c3;
}
.spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
