.fullscreen::-webkit-scrollbar {
  width: 8px;
  margin: 10px 0px;
}
.fullscreen::-webkit-scrollbar-thumb {
  /* background: #202020; */
  background: crimson;
  border-radius: 10px;
}

.fullscreen::-webkit-scrollbar-track {
  background: white;
}
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: white;
}
