.insertPrescribedMedicine {
  height: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  position: relative;
  grid-gap: 10px;
}
.medicine-input-component input {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  padding: 5px;
}
.manual-dosage input {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  padding: 5px;
}
.duration-btns {
  position: relative;
}
.add-medicine {
  --size: 49px;
  width: var(--size);
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 70px;
  top: 6px;
  font-size: 1.2rem;
}
.add-medicine {
  border: 1px solid crimson;
  color: white;
  background: crimson;
  border-radius: 7px;
  cursor: pointer;
}
.add-medicine:hover {
  color: black;
  background: white;
  border-radius: 7px;
}

.add-medicine:active {
  background: #dd657c;
  color: white;
}
.duration-component input,
.duration-component select {
  height: 100%;
}
.medicine-input-component {
  position: relative;
}
.medicineList__completion {
  position: absolute;
  top: 120%;
  left: 0;
  max-height: 150px;
  width: 400px;
  overflow-y: auto;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
}

.medicineList__completion::-webkit-scrollbar {
  width: 8px;
  margin: 10px 0px;
}

.medicineList__completion::-webkit-scrollbar-track {
  background: none;
  margin: 10px 0px;
}

.medicineList__completion::-webkit-scrollbar-thumb {
  background: #202020;
}
.medicineList__item {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: #202020;
  display: flex;
  align-items: center;
}

.medicineList__item:hover {
  background: #2222;
  border-radius: 10px;
}

.completion__dosageform {
  font-size: 1rem;
  margin: 0px 10px;
  padding: 5px 10px;
  background: skyblue;
  border-radius: 10px;
  color: white;
}
.tablet_dosage_selection select {
  height: 100%;
  width: 100%;
}
