.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  width: fit-content;
  user-select: none;
}

.current-item {
  font-size: 1.2rem;
  pointer-events: none;
}
.dropdown-icon {
  /* margin-left: 20px; */
  font-size: 1.2rem;
  margin-left: 50px;
  pointer-events: none;
}

.dropdown-list-container {
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  display: none;
  border-radius: 10px;
}

.dropdown-list-container .dropdown-list-item {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  /* transition: display 1s linear; */
}

.dropdown-container .show {
  display: block;
  animation-name: slide-down;
  animation-duration: 0.3s;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-list-container .dropdown-list-item:hover {
  background: gray;
  color: white;
}
