.completionContainer {
  position: relative;
}
.suggestionContainer {
  position: absolute;
  top: 50px;
  background: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
}
.input__field:focus + .suggestionContainer {
  background: red;
}
.suggestionList {
  margin: 5px 5px;
  cursor: pointer;
  padding: 5px;
}
.suggestionList:hover {
  background: #dfdfdf;
  border-radius: 10px;
}
.suggestionItem {
  padding: 5px;
}
.suggestionItem:nth-child(2) {
  color: gray;
}
