.manage-container .dropdown-container {
  /* width: 300px; */
}
.ManageSlidebar-container {
  margin: 30px;
  padding-top: 100px;
}
.ManageSlidebar-container .input {
  margin-bottom: 40px;
}
.ManageSlidebar-container .dropdown-container {
  margin-bottom: 50px;
}

.ManageSlidebar-container .buttons-container .ButtonPrime {
  background: #030303;
  font-size: 1.2rem;
  padding: 8px 70px;
}

.ManageSlidebar-container .buttons-container .ButtonPrime:hover {
  opacity: 80%;
}

.ManageSlidebar-container .buttons-container {
  display: flex;
  justify-content: center;
}

.addManager-btn {
  margin-top: 30px;
  background: none;
  border: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 7px;
  background: #dddddd;
  color: #737373;
  cursor: pointer;
}

.addManager-btn:hover {
  background: #b4c3c3;
}
.addManager-btn-icon {
  margin-right: 10px;
}
